{% extends "base.html" %} {% block head %}
<title>About Us</title>
{% endblock %} {% block body %}
<section class="about-us">
  <div class="content">
    <h1>KeyMG</h1>
    <p>
      KeyMG is a powerful and user-friendly platform that enables music
      enthusiasts to create personalized harmonic playlists based on the key and
      BPM (beats per minute) of songs.
    </p>
    <p>
      Upon visiting KeyMG, users are greeted with a sleek and intuitive
      interface. The discover page features a search bar where users can either
      enter the name of a song they have in mind or browse through a vast
      collection of popular tracks.
    </p>
    <p>
      To generate a harmonic playlist we use algorithms and music theory
      principles to analyze the song key and BPM, ensuring that each subsequent
      song selected for the playlist harmonically and rhythmically aligns with
      the user's preferences.
    </p>
  </div>
</section>
{% endblock %}
